* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}
a {
text-decoration: none;
}
ul, ol {
    list-style: none;
}

html {
    font-size: 10px;
}
button {
    background: 0;
    border: 0;
}